<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<!-- 包扫描 -->
	<context:component-scan base-package="com"/>
	
	<!-- 读取属性文件db.properties -->
	<context:property-placeholder location="classpath:db.properties"/>
	
	<!-- 数据源 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="maxActive" value="${jdbc.maxActive}"></property>
	</bean>
	
	<!-- myBatis的sqlSessionFactory对象 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--注入数据源  -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 给pojo类取别名【可选】 -->
		<property name="typeAliasesPackage" value="com.pojo"></property>
	</bean>
	
	<!-- 扫描器，创建映射代理对象 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!--  与sqlSessionFactory产生关系-->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		<!-- 扫描哪些包【mapper】 -->
		<property name="basePackage" value="com.mapper"></property>
	</bean>
	
	<!-- 事务管理器 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 事务跟数据库有关，所以需要注入数据源 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="select*" read-only="true"/>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 使用AOP将事务通知切入指定位置 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.service..*.*(..))"/>
	</aop:config>
</beans>
